@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
    height: 96vh;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.library{
    min-height: 74vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
}

.heading img{
    width: 30px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a{
    color: grey;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header > *{
    padding: 10px;
}


.spotifyPlaylists{
    padding: 16px;
    background-color: #252525;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 60vh;
    margin-bottom: 144px;
}

.card{
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0c0b0b;
    position: relative;
    transition: all 0.5s;
}

.card h2{
    font-size: 15px;
}
.card p{
    color: #A7A7A7;
    font-size: 13px;
}

.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    width: 38px;
    height: 38px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 128px;
    right: 17px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}

    .card:hover{
        background-color: rgb(60, 60, 60);
        cursor: pointer;
        --a: 1;
    }

.button > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: #121212;
    color: #A7A7A7;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    color: black;
    border-radius: 21px;
    padding: 10px;
    width: 79px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover{
    font-size: 17px;
}

.playbar{
    position:fixed;
    bottom: 10px;
    background-color: black;
    color: white;
    width: 70vw;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px; 
    min-height: 50px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}


.songList{
    height: 340px;
    overflow: auto;
    margin-bottom: 0px;
}

.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap: 7px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    width: 220px;
    justify-content: space-between;
}

.info{
    font-size: 14px;
    width: 344px;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span{
    font-size: 12px;
    width: 60px;
}

.seekbar{
    height: 4px;
    width: 97%;
    border-radius: 10px;
    background: white;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 4px;
    right: 2px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor: pointer;
}

.songinfo{
    padding: 0 12px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.abovebar{
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr;
    margin: 10px 0;
}

.hamburger{
    display: none;
}

.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.close{
    display: none;
}


@media (max-width: 1250px) {

    .left{
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 325px;
        background-color: black;
    }

    .right {
        margin: 0;
    }

    .left .close{
        position: absolute;
        top: 25px;
        right: 30px;
        width: 35px;
        display: block;
    }

    .right{
        width: 100vw;
    }

    .playbar{
        width: 95vw;
    }

    .hamburger{
        display: block;
    }

    .spotifyPlaylists h1{
        padding: 25px;
    }


}

@media (max-width: 750px) {

    .left{
        padding: 0;
    }
    .playbar{
        width: 88vw;
    }

    .seekbar{
        width: 95%;
    }

    .card{
        width: 70vw;
    }

    
    .cardContainer{
        justify-content: center;
        margin: 0;
    }

    .abovebar{
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

}